.formApp {
	box-shadow: $shadow-primary;
	width: 100%;
	padding: 35px;
	border-radius: 10px;
	overflow: hidden;
	min-height: 530px;

	&__stepContent {
		&--active {
			@media (prefers-reduced-motion: no-preference) {
				animation: fadeIn 0.5s ease-in-out forwards;
			}
		}
	}

	&__steps {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		@include mq($breakpoint-md) {
			flex-direction: row;
		}

		button {
			width: 100%;
			@include mq($breakpoint-md) {
				width: auto;
			}
		}
	}

	&__stepsContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 25px 0;
		@include mq($breakpoint-md) {
			flex-direction: row;
		}
	}

	&__step {
		margin: 10px 0;
		text-transform: uppercase;
		font-weight: bold;
		&--active {
			color: $color-primary;
		}
		@include mq($breakpoint-md) {
			margin: 0 10px;
		}
	}

	&__preview {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 75px;
		@include mq($breakpoint-md) {
		}
	}

	&__previewPickedImage {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 75px;
	}

	&__grid {
		margin-top: 35px;
		display: grid;
		min-height: 236px;
		grid-template-columns: minmax(0, 1fr);
		@include mq($breakpoint-md) {
			grid-template-columns: minmax(0, 0.6fr) minmax(0, 0.4fr);
		}
	}

	&__price {
		margin-top: 50px;
		color: $color-primary;
		font-weight: bold;
		font-size: 1.8rem;
		text-align: center;
		@include mq($breakpoint-md) {
			font-size: 2.2rem;
		}
	}
}
