$color-primary: #4a90e2;
$color-secondary: #edb95e;
$color-success: #82dd55;
$color-error: #e23636;

$shadow-primary: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-secondary: rgba(0, 0, 0, 0.09) 0px 3px 12px;
