$color-primary: #4a90e2;
$color-secondary: #edb95e;
$color-text: #222222;
$color-text-secondary: #ffffff;
$color-success: #82dd55;
$color-error: #e23636;

$shadow-primary: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-secondary: rgba(0, 0, 0, 0.09) 0px 3px 12px;

$breakpoint-sm: 360px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$container-width: 1160px;
